<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="paciente.nombres">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="paciente.apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]="paciente.dni">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]="paciente.direccion">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]="paciente.telefono">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>